*.py[cod]

# C extensions
*.so

# pycharm
.idea/
.idea

# Packages
*.egg
*.egg-info
eggs
build/
dist/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.cache
nosetests.xml
htmlcov/

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# Cookiecutter
output/

# virtualenv
venv/

# local config file
tests/config.py
